body{
    background-color: #01823E;
}
#wrapper{
    display: grid;
    margin: 2px;
    height: 100vh;
    grid-template-columns: 33% 33% 1fr;
    grid-template-rows: 15vh 60vh 30vh 25vh 5vh;
    grid-template-areas:
    'nv nv nv'
    'hd hd hd'
    'dv1 dv1 dv1'
    'dv2 dv2 dv2'
    'ft ft ft' 
    ;
}
#wrapper2{
    display: grid;
    grid-template-columns:45% 45% 1fr;
    grid-template-rows: 15vh 50vh 60vh 60vh 5vh;
    grid-template-areas: 
    'nv nv nv'
    'mn mn mn'
    'dv3 dv3 dv3'
    'dv4 dv4 dv4'
    'ft ft ft'
    ;
}
#wrapper3{
    display: grid;
    grid-template-columns: 20% 33% 1fr;
    grid-template-rows: 15vh 25vh 51vh 10vh;
    grid-template-areas: 
    'nv nv nv'
    'as hd2 hd2'
    'as ardiv ardiv'
    'ft ft ft';
}
#sc0{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#article_div{
    grid-area: ardiv;
}
h1{
    color: white;
    font-family: 'Agency FB', sans-serif;
    padding: 10px;

}
.article_head{
    color: black;
}
#a1{
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    color: transparent;
    margin: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: #2ecc71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#a1:hover{
    transition-duration: 0.5s;
    transition-delay: 0.25s;
    height: 20vh;
    color: black;
}
#a2{
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    color: transparent;
    background-color: white;
    margin: 2px;
    border-style: solid;
    border-color: #2ecc71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#a2:hover{
    transition-duration: 0.5s;
    transition-delay: 0.25s;
    height: 20vh;
    color: black;
}
#a3{
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 2px;
    color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #2ecc71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#a3:hover{
    transition-duration: 0.5s;
    transition-delay: 0.25s;
    height: 20vh;
    color: black;
}
aside{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    align-items: center;
    background-color: white;
    height: 77vh;
    border-radius: 10px;
    border-width: 5px;
    font-family: 'Agency FB', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#main2{
    grid-area: mn2;
}
#header2{
    grid-area: hd2;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    
}
main{
    display: flex;
    flex-direction: column;
    margin: 2px;
    grid-area: mn;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#01823E;
}
#flexbox1{
    margin-top: 50px;
    grid-area: dv1;
    display: flex;
    justify-content: space-evenly;
}
#flexbox2{
    grid-area: dv2;
    display: flex;
    justify-content: space-evenly;
}
#flexbox3{
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    grid-area: dv3;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#flexbox4{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-area: dv4;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.personal{
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    width: 60vh;
    border-style: solid;
    border-color:#01823E;
    height: 55vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#pfpdiv1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #01823E;
}
#pfpdiv2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #01823E;
}
#pfpdiv3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#01823E
}
#pfpdiv4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #01823E;
}
.pfp{
    border-style: solid;
    border-color: white;
}
nav{
    grid-area: nv;
    display: flex;
    background-color:#01823E;
    font-family: 'Agency FB', sans-serif;
    justify-content: space-evenly;
    position:sticky;
    top:0;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
img{
    height: 100%;
}
.pfp1{
    height: 80%;
    border-radius: 100px;
    border-style: solid;
    border-color: #2ecc71;
}
.link{
    display: flex;
    align-items: center;
}
#Header1{
    grid-area:hd;
    display: flex;
    border-radius: 10px;
    background-color: #01823E ;
    background-image: url(../img/headerphoto.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
}
h2{
    font-family: 'Agency FB', sans-serif;
    text-decoration: underline;
    text-decoration-color: #01823E ;
}
section{
    grid-area: sc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    justify-content: center;
    width: 50%;
    padding: 5px;
}
section:hover{
    transform: scale(1.03);
    transition: all 0.5s ease;
}
article{
    display: flex;
    justify-content: center;
}

footer{
    grid-area: ft;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #01823E ;
    color: white;

}
